<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addproducts</title>
</head>
<body>
<div class="main-container">
    <div class="panel-heading"><span class="lead">Добавить товар на склад</span></div>

    <form th:action="@{/add_product}" th:object="${product}" method="POST">
        
        Название товара:
        <input type="text" th:field="*{name}" />
        <br/>
        Описание товара:
        <input type="text" th:field="*{description}" />
        <br/>
        Дата создания:
        <input type="text" th:field="*{dateCreate}" />
        <br/>
        Номер ячейки:
        <input type="text" th:field="*{placeStorage}" />
        <br/>
        Резервирование товара:
        <input type="checkbox" th:field ="*{reservedCheck}">

        <a th:href="@{/main}">Добавить товар</a>
        <a th:href="@{/main}">Отмена</a>
        
    </form>

    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
    </div>
</div>
</body>
</html>