<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<div class="main-container">
    <div class="panel-heading"><span class="lead">Список товаров на складе.</span></div>
    <a th:href="@{/add_product}">Добавить товар</a>
    <table>
        <thead>
        <tr>
            <th>ID товара</th>
            <th>Название товара</th>
            <th>Описание товара</th>
            <th>Дата создания</th>
            <th>Номер ячейки</th>
            <th>Резервирование товара</th>
            <th width="100">Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="product : ${products}">
            <td></td>
            <td>${product.id}</td>
            <td>${product.name}</td>
            <td>${product.description}</td>
            <td>${product.dateCreate}</td>
            <td>${product.placeStorage}</td>
            <td>${product.reservedCheck}</td>
            <td><a th:href="@{/edit_product}">Изменить товар</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>